
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İstatistlikler</h2>
<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-cyan">
            <div class="inner" style="text-align: center">
                <br />
                <h3><sup style="font-size: 50px">@ViewBag.totalCategory</sup></h3>
                <sup style="font-size: 18px">Toplam Kategori Sayısı</sup>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-dark">
            <div class="inner" style="text-align: center">
                <br />
                <h3><sup style="font-size: 50px">@ViewBag.totalSoftware</sup></h3>
                <sup style="font-size: 15px">Yazılım Kategorisi Başlık Sayısı</sup>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>


    <div class="col-md-4">
        <div class="small-box bg-olive">
            <div class="inner" style="text-align: center">
                <br />
                <h3><sup style="font-size: 50px">@ViewBag.totalCharacter</sup></h3>
                <sup style="font-size: 15px">Yazar Adında a harfi geçen toplam sayısı</sup>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-gradient-yellow">
            <div class="inner" style="text-align: center">
                <br />
                <h3><sup style="font-size: 40px">@ViewBag.maxCategoryTitle</sup></h3>
                <sup style="font-size: 15px">En fazla başlığa sahip kategori</sup>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-gradient-red">
            <div class="inner" style="text-align: center">
                <br />
                <h3><sup style="font-size: 40px">@ViewBag.statusTrueCategoryNumber</sup></h3>
                <sup style="font-size: 15px">Aktif olan kategoriler</sup>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>
</div>