@model EntittyLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/AdminCategory/Home/">Home</a></li>
                                        <li class="breadcrumb-item active">Admin Güncelle</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    @using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
                    {
                        <div class="form-group">

                            @Html.HiddenFor(x => x.AdminID, new { @class = "form-control" })

                            @Html.Label("Kullanıcı Adı :")
                            @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
                            <br />
                            @Html.Label("Şifre :")
                            @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
                            <br />
                            @Html.Label("Rol :")
                            @Html.TextBoxFor(x => x.AdminRol, new { @class = "form-control" })
                            <br />
                            <button class="btn btn-success">Güncelle</button>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>