@using EntittyLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="wrapper">

                            <section class="content-header">
                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a href="/AdminCategory/Home/">Home</a></li>
                                                <li class="breadcrumb-item active">Yeni Başlık Ekle</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div><!-- /.container-fluid -->
                            </section>
                            <section class="content">
                                <div class="container-fluid">

                                    <!-- Timelime example  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- The time line -->
                                            <div class="timeline">
                                                @foreach (var item in Model)
                                                {


                                                    <!-- timeline time label -->
                                                    <div class="time-label">
                                                        <span style="color:darkblue">@item.Writer.WriterName.ToUpper() @item.Writer.WriterSurname.ToUpper()</span>
                                                    </div>
                                                    <!-- /.timeline-label -->
                                                    <!-- timeline item -->
                                                    <div>

                                                        <div class="timeline-item">
                                                            <h3 class="timeline-header"><a href="#">@item.Heading.HeadingName </a> </h3>
                                                            <div class="timeline-body">
                                                                @item.ContentValue
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <i class="fas fa-clock"><span>@(((DateTime)item.ContentDate).ToString("dd.MMM.yyyy"))</span></i>
                                                }
                                                <!-- END timeline item -->
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </div>
                                <!-- /.timeline -->
                            </section>
                            <!-- /.content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ./wrapper -->
</body>
</html>



